:root { 
--blue_gray_100:#dad6d2; 
--black_900:#000000; 
--blue_gray_100_01:#d9d9d9; 
--teal_900:#07393c; 
--deep_orange_300:#e3934f; 
--blue_gray_700:#316e76; 
--red_400:#ef5757; 
--red_400_01:#ed5857; 
--white_A700:#ffffff; 
--blue_gray_700_01:#2f6d75; 
--teal_900_66:#07393c66; 
--gray_100:#f1f8f9; 
}